*{box-sizing: border-box;}a {text-decoration: none;}table{width:100%;}
body{
  padding: 5px;
  margin: 0;
  background-image: url('background.jpg');
  background-size: auto;
  font-family: Arial Narrow ;
}
#wrapper{
  opacity: 0;
  transition: all .5s;
  width:100%;
  max-width:600px;
  position: relative;
  margin: 0 auto;
  padding:15px;
  background-color: #eee;
  border-radius:20px;
  margin: 10px auto;
  box-shadow:1px 1px 5px 3px rgba(255,255,255,.4);
}
#wrapper td{
  padding:.5%;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-size: clamp(12px, 2vw, 18px);
}
#wrapper td:first-child{
  text-align: left;
}
#wrapper th{
  padding:.5%;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-size: clamp(12px, 2vw, 16px);
}
h2{
  text-align: center;
  display: block;
  margin: 0 auto;
  padding:1em 0;
  background-color:#2670AF;
  color:#fff;
}
h3{
  display: inline-block;
  font-size:24px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 10px;
}
#wrapper tr:not(:first-child) th{
  padding-top: 50px;
}
.flmax{
  color:#800;
  font-weight:600;
}
.flmin{
  color:#008;
}

#theGraphs{opacity: 0;transition: all 2.00s; margin-top: 30px;}


.chart_wrapper{
  height:40vw;
  max-width:600px;
  min-height: 250px;
  max-height: 400px;
  position: relative;
  margin: 10px auto;
}
.recharts-wrapper{
  background:rgba(255,255,255,.8);
  height:30vw;
  max-width:600px;
  min-height: 250px;
  max-height: 400px;
  position: relative;
  margin: 10px auto;
  transition: all 0.3s;
}
.recharts-wrapper:hover{
  background:rgba(255,255,255, 1);
}
.recharts-label tspan, .recharts-cartesian-axis-tick-value tspan{
  font-size: clamp(14px, 2vw, 20px);
}
.recharts-xAxis .recharts-label tspan{
  font-size: clamp(24px, 3vw, 30px);
}
.recharts-cartesian-axis-tick-value{
  text-transform: capitalize;
}
#getButton{
  position: relative;
  display: block;
  margin: 20px auto;
  padding:.5% 1%;
  border-radius: 5px;
  background-color:#2670AF;
  color:#fff;
  border:0;
  font-size: clamp(18px, 2.5vw, 24px);
  transition: all 1.00s, background-color 0.50s;
  box-shadow: 0px 0px 0px 0px #fff;
}
#getButton:hover{
  background-color:#06508F;
  color:#ffec53;
}
#graphsLink button{
  position: relative;
  display: block;
  margin: 20px auto;
  padding:.5% 1%;
  border-radius: 5px;
  background-color:#3A5F0B;
  color:#fff;
  border:0;
  font-size: clamp(14px, 2vw, 18px);
  transition: all 1.00s, background-color 0.50s;
  cursor: pointer;
}
#graphsLink button:hover{
  color:#ffec53;
  background-color:#1A3F0B ;
}